{% extends 'forms/base.html' %}
{% block content %}
    <div class="container">
        <h6>English</h6>
        <p class="font-weight-light">
            This website or application aims to help census workers to encode directly the data that will be inserted in this
            website, instead of having to write down the data in a paper and encode it later on.
        </p>
        <h6>Filipino</h6>
        <p class="font-weight-light">
            Itong website na ito ay ginawa upang tulungan ang mga census workers na i-encode na mismo sa website na ito ang
            anumang data na ilagay nila, imbis na kailanganing pang isulat sa papel at i-encode pagtapos.
        </p>
        <h6>简体中文</h6>
        <p class="font-weight-light">
            本网站或应用程序旨在帮助普查工作者直接编码将插入到本网站中的数据，而不必将数据写在纸中，并在以后对其进行编码。
        </p>
        <h6>한국어</h6>
        <p class="font-weight-light">
            이 웹 사이트 또는 응용 프로그램은 인구 조사 직원이 여기에 삽입 될 데이터를 직접 인코딩 할 수 있도록 돕는 것을 목표로합니다.
            종이에 데이터를 기록하고 나중에 인코딩 할 필요가 없습니다.
        </p>
    </div>
{% endblock %}