{% extends 'forms/base.html' %}
{% block content %}
    <p class="title-header">About</p>
    <div class="container">
        <h6>English</h6>
        <p class="font-weight-light">
            This website or application aims to help census workers to encode directly the data that will be inserted in this
            website, instead of having to write down the data in a paper and encode it later on.
        </p>
        <h6>Filipino</h6>
        <p class="font-weight-light">
            Itong website na ito ay ginawa upang tulungan ang mga census workers na i-encode na mismo sa website na ito ang
            anumang data na ilagay nila, imbis na kailanganing pang isulat sa papel at i-encode pagtapos.
        </p>
    </div>
{% endblock %}