{% extends 'forms/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <div class="row mb-1 pb-3 border-bottom">
                    <div class="col-md"><a href="{% url 'forms-create-person' %}" class="btn btn-success">Insert Person</a></div>
                    <div class="col-md"><a href="{% url 'forms-create-household' %}" class="btn btn-success">Insert Household</a></div>
                </div>
                <div class="container p-0 mb-1 border-bottom">
                    <h6>Fields with * are required.</h6>
                </div>
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}