{% extends 'forms/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <p class="title-header">Edit Household</p>
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <div class="container p-0 mb-1 border-bottom">
                    <h6>Fields with * are required.</h6>
                </div>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2">{{ form.household_no|as_crispy_field }}</div>
                    <div class="col-md-10">{{ form.name|as_crispy_field }}</div>
                </div>
                {{ form.address|as_crispy_field }}
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}